.header {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-family: var(--sans);
  font-size: 3rem;
  font-weight: 700;
  justify-content: center;
  height: 100vh;
}

.header__title {
  margin: 0;
}
